*.class

# Package Files #
*.jar
*.war
*.ear

#maven
target/

#eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#GWT
gwt-unitCache/
webapp/Chosen
webApp/UiBinderSample
